.comicButton {
    --color-bg: #222;
    --color-active: #C24868;
    --color-border: #F8F8F2;

    height: 30px;
    width: 30px;
    background-color: var(--color-bg);
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 35%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
    z-index: 2;
}

.favorited {
	background-color: var(--color-active);
	outline: 2px solid var(--color-border);
}

@media screen and (min-width: 40em) {
    .comicButton {
        left: 50%;
        bottom: -30px;
    }

}