.comicItem {
    --color-text: #222222;

    position: relative;
    font-family: var(--karla);
    margin-bottom: 28px;
}

.comicItemInner{
    display: grid;
    grid-template-columns: 190fr 175fr;
    gap: 15px;
    grid-auto-flow: dense;
}

.comicItem h2 {
    font-size: 1rem;
    color: var(--color-text);
    font-weight: 900;
}

.comicImgCont {
    position: relative;
    width: 50%;
}

.comicDetailCont,
.comicImgCont {
    position: relative;
    grid-column: 1;
    align-self: start;
}

.comicImgCont {
    grid-column: 2;
    aspect-ratio: 125/188;
    display: block;
    position: relative;
    width: 100%;
    box-shadow: 0px 5px 15px #00000029;
}

.comicImg {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 40em) {
    .comicItemInner {
        display: block;
    }

    .comicImgCont {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 64em) {
    .comicItem {
        margin-bottom: 0;
    }

    .comicItemInner {
        flex-direction: column;
    }

    .comicDetailCont,
    .comicImgCont {
        width: 100%;
    }

    .comicImg {
        width: 100%;
        height: 100%
    }

    .comicItem h2 {
        font-size: 1.125rem;
    }
}