.content {
    background-color: #fff;
}

.comicItem {
    --color-text: #222222;
    --font-karla: Arial, Helvetica, sans-serif;

    position: relative;
    font-family: var(--font-karla);
    margin-bottom: 28px;

}

.comicItemInner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
    gap: 20px;
}

.comicItem h2 {
    font-size: 1rem;
    color: var(--color-text);
}

/*Img*/
.comicImgCont {
    position: relative;
    aspect-ratio: 200/300;
}

.comicImg {
    position: relative;
    object-fit: cover;
    z-index: 1;
    width: 125px;
    height: 188px;
}

@media screen and (min-width: 64em) {
    .comicItem {
        margin-bottom: 0;
    }

    .comicItemInner {
        flex-direction: column;
    }

    .comicImgCont {
        margin-bottom: 20px;
    }

    .comicImg {
        width: 183px;
        height: 276px;
    }

    .comicItem h2 {
        font-size: 1.125rem;
    }
}