.footer {
    --color-bg: #222;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 30px;
    background-color: var(--color-bg);
}

.footer__nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.125rem;
    list-style-type: none;

}

.footer__nav ul,
.footer__legal {
    font-family: var(--montserrat);
    font-size: 14px;
}