.header {
    --color-border: #F8F8F2;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px 20px;
    background: transparent linear-gradient(180deg, #000000B3 0%, #00000000 100%) 0% 0% no-repeat padding-box;
    overflow: hidden;
    z-index: 1;
}

.header img {
    height: 75px;
    width: 75px;
}

.headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/*Nav*/
.navContent {
    display: none;
}

/*Faves*/
.faves,
.favesBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
}

.favesBtn {
    margin-right: 8px;
    gap: 4px;
    border: none;
    background-color: transparent;
    font-weight: 900;
}

.favesBtnText {
    display: none;
}

.favesCounter {
    font-family: var(--montserrat);
    font-size: 1.125rem;
}

.mobileNav {
    border: 2px solid var(--color-border);
    border-radius: 5px;
    padding: 8.75px 16.75px;
}

.mobileNav svg {
    font-size: 20px;
}

@media screen and (min-width: 40em) {
    .header {
        padding: 16px 54px;
    }

    .header img {
        height: 106px;
        width: 106px;
    }

    .mobileNav {
        display: none;
    }

    .navContent {
        display: block;
    }

    .navContent ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-size: 1.125rem;
        list-style-type: none;
        font-family: var(--montserrat);
        font-weight: 900;
    }

    .favesBtnText {
        font-size: 18px;
        display: block;
        font-family: var(--montserrat);
    }
}