
.loaderCont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    padding-top: 40px;
}

.loader {
    display: block;
    font-family: var(--karla);
    font-size: 48px;
    color: #222;
    font-weight: 900;
}

.comicsContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
    width: 100%;
}

.gridFallback {
    display: block;
    min-width: 1034px;
    min-height: 1000px;
}

.comicsList {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1034px;
    margin: 0 auto;
    padding: 40px  0; */
    padding-top: 52px;
    padding-bottom: 30px;
    display: grid;
    grid-gap: 30px 20px;
    gap: 30px 20px;
}

.comicsHideMobile {
    display: none;
}

@media screen and (min-width: 40em) {
    .comicsList {
        /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: flex-start;
        padding: 40px 20px */

        grid-template-columns: repeat(auto-fill, minmax(183px, 1fr));
    }
}

@media screen and (min-width: 64em) {
    .comicsList {
        gap: 60px 20px;
        padding-bottom: 80px;
        padding-top: 40px;
    }

    .comicsContent {
        padding: 0 20px;
    }

    .comicsHideMobile {
        display: block;
    }

    /* .comicsList {
        grid-template-columns: repeat(3, 1fr);
    } */
}

@media screen and (min-width: 90em) {
    /* .comicsList {
        grid-template-columns: repeat(5, 1fr);
    } */
}